/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Explicit styling for highlighted code */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #282c34;
    color: #abb2bf;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag {
    color: #c678dd;
  }
  
  .hljs-string,
  .hljs-doctag {
    color: #98c379;
  }
  
  .hljs-number,
  .hljs-literal {
    color: #d19a66;
  }
  
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #61aeee;
  }
  
  /* Make sure code blocks don't get Tailwind styles that might override hljs */
  pre code {
    @apply font-mono !important;
    @apply text-inherit !important;
    @apply bg-transparent !important;
  }